In [1]:
bank_data <- read.csv(file = "bank.txt",sep = ";")
head(bank_data)

  age job         marital education default balance housing loan contact  day
1 30  unemployed  married primary   no      1787    no      no   cellular 19
2 33  services    married secondary no      4789    yes     yes  cellular 11
3 35  management  single  tertiary  no      1350    yes     no   cellular 16
4 30  management  married tertiary  no      1476    yes     yes  unknown   3
5 59  blue-collar married secondary no         0    yes     no   unknown   5
6 35  management  single  tertiary  no       747    no      no   cellular 23
  month duration campaign pdays previous poutcome y
1 oct    79      1         -1   0        unknown  no
2 may   220      1        339   4        failure  no
3 apr   185      1        330   1        failure  no
4 jun   199      4         -1   0        unknown  no
5 may   226      1         -1   0        unknown  no
6 feb   141      2        176   3        failure  no

In [2]:
help(read.csv)

In [3]:
bank_data <- data.frame(bank_data)

In [4]:
head(bank_data)

  age job         marital education default balance housing loan contact  day
1 30  unemployed  married primary   no      1787    no      no   cellular 19
2 33  services    married secondary no      4789    yes     yes  cellular 11
3 35  management  single  tertiary  no      1350    yes     no   cellular 16
4 30  management  married tertiary  no      1476    yes     yes  unknown   3
5 59  blue-collar married secondary no         0    yes     no   unknown   5
6 35  management  single  tertiary  no       747    no      no   cellular 23
  month duration campaign pdays previous poutcome y
1 oct    79      1         -1   0        unknown  no
2 may   220      1        339   4        failure  no
3 apr   185      1        330   1        failure  no
4 jun   199      4         -1   0        unknown  no
5 may   226      1         -1   0        unknown  no
6 feb   141      2        176   3        failure  no

In [5]:
str(bank_data)

'data.frame':	4521 obs. of  17 variables:
 $ age      : int  30 33 35 30 59 35 36 39 41 43 ...
 $ job      : Factor w/ 12 levels "admin.","blue-collar",..: 11 8 5 5 2 5 7 10 3 8 ...
 $ marital  : Factor w/ 3 levels "divorced","married",..: 2 2 3 2 2 3 2 2 2 2 ...
 $ education: Factor w/ 4 levels "primary","secondary",..: 1 2 3 3 2 3 3 2 3 1 ...
 $ default  : Factor w/ 2 levels "no","yes": 1 1 1 1 1 1 1 1 1 1 ...
 $ balance  : int  1787 4789 1350 1476 0 747 307 147 221 -88 ...
 $ housing  : Factor w/ 2 levels "no","yes": 1 2 2 2 2 1 2 2 2 2 ...
 $ loan     : Factor w/ 2 levels "no","yes": 1 2 1 2 1 1 1 1 1 2 ...
 $ contact  : Factor w/ 3 levels "cellular","telephone",..: 1 1 1 3 3 1 1 1 3 1 ...
 $ day      : int  19 11 16 3 5 23 14 6 14 17 ...
 $ month    : Factor w/ 12 levels "apr","aug","dec",..: 11 9 1 7 9 4 9 9 9 1 ...
 $ duration : int  79 220 185 199 226 141 341 151 57 313 ...
 $ campaign : int  1 1 1 4 1 2 1 2 2 1 ...
 $ pdays    : int  -1 339 330 -1 -1 176 330 -1 -1 147 ...
 $ previous : int  0 4 1 0 0 3 2 0 0 2 ...
 $ poutcome : Factor w/ 4 levels "failure","other",..: 4 1 1 4 4 1 2 4 4 1 ...
 $ y        : Factor w/ 2 levels "no","yes": 1 1 1 1 1 1 1 1 1 1 ...

In [6]:
summary(bank_data)

      age                 job          marital         education    default
 Min.   :19.00   management :969   divorced: 528   primary  : 678   no :4445
 1st Qu.:33.00   blue-collar:946   married :2797   secondary:2306   yes:  76
 Median :39.00   technician :768   single  :1196   tertiary :1350
 Mean   :41.17   admin.     :478                   unknown  : 187
 3rd Qu.:49.00   services   :417
 Max.   :87.00   retired    :230
                 (Other)    :713
    balance      housing     loan           contact          day
 Min.   :-3313   no :1962   no :3830   cellular :2896   Min.   : 1.00
 1st Qu.:   69   yes:2559   yes: 691   telephone: 301   1st Qu.: 9.00
 Median :  444                         unknown  :1324   Median :16.00
 Mean   : 1423                                          Mean   :15.92
 3rd Qu.: 1480                                          3rd Qu.:21.00
 Max.   :71188                                          Max.   :31.00

     month         duration       campaign          pdays
 may    :1398   Min.   :   4   Min.   : 1.000   Min.   : -1.00
 jul    : 706   1st Qu.: 104   1st Qu.: 1.000   1st Qu.: -1.00
 aug    : 633   Median : 185   Median : 2.000   Median : -1.00
 jun    : 531   Mean   : 264   Mean   : 2.794   Mean   : 39.77
 nov    : 389   3rd Qu.: 329   3rd Qu.: 3.000   3rd Qu.: -1.00
 apr    : 293   Max.   :3025   Max.   :50.000   Max.   :871.00
 (Other): 571
    previous          poutcome      y
 Min.   : 0.0000   failure: 490   no :4000
 1st Qu.: 0.0000   other  : 197   yes: 521
 Median : 0.0000   success: 129
 Mean   : 0.5426   unknown:3705
 3rd Qu.: 0.0000
 Max.   :25.0000

In [7]:
sum(is.na(bank_data))

[1] 0

In [8]:
set.seed(786)

In [9]:
library(caret)

Warning message:
"package 'caret' was built under R version 3.6.2"Loading required package: lattice
Loading required package: ggplot2
Registered S3 methods overwritten by 'ggplot2':
  method         from
  [.quosures     rlang
  c.quosures     rlang
  print.quosures rlang

In [10]:
trainIndex <- createDataPartition(y=bank_data$y,p = 0.7,list = F)

In [11]:
train_data <- bank_data[trainIndex,]
test_data <- bank_data[-trainIndex,]

In [12]:
print(dim(train_data))
print(dim(test_data))

[1] 3165   17
[1] 1356   17

In [20]:
log_reg <- glm(formula = y~.,family = binomial,data = train_data)

In [21]:
summary(log_reg)

Call:
glm(formula = y ~ ., family = binomial, data = train_data)

Deviance Residuals:
    Min       1Q   Median       3Q      Max
-4.1537  -0.3819  -0.2493  -0.1494   2.9904

Coefficients:
                     Estimate Std. Error z value Pr(>|z|)
(Intercept)        -2.727e+00  7.218e-01  -3.778 0.000158 ***
age                -4.000e-03  8.529e-03  -0.469 0.639071
jobblue-collar     -3.375e-01  2.887e-01  -1.169 0.242428
jobentrepreneur    -2.894e-01  4.667e-01  -0.620 0.535133
jobhousemaid       -4.147e-01  4.966e-01  -0.835 0.403609
jobmanagement      -5.628e-02  2.904e-01  -0.194 0.846361
jobretired          5.241e-01  3.691e-01   1.420 0.155546
jobself-employed   -3.574e-01  4.345e-01  -0.823 0.410753
jobservices        -6.354e-02  3.196e-01  -0.199 0.842408
jobstudent          1.324e-01  4.832e-01   0.274 0.784069
jobtechnician      -3.095e-01  2.782e-01  -1.113 0.265917
jobunemployed      -4.874e-01  4.948e-01  -0.985 0.324621
jobunknown         -4.326e-01  9.026e-01  -0.479 0.631720
maritalmarried     -4.781e-01  2.111e-01  -2.265 0.023530 *
maritalsingle      -3.551e-01  2.447e-01  -1.451 0.146737
educationsecondary  3.467e-01  2.498e-01   1.388 0.165089
educationtertiary   6.837e-01  2.901e-01   2.356 0.018455 *
educationunknown   -6.023e-01  4.665e-01  -1.291 0.196637
defaultyes          2.382e-01  5.432e-01   0.439 0.660977
balance            -1.059e-05  2.249e-05  -0.471 0.637852
housingyes         -3.382e-01  1.659e-01  -2.038 0.041544 *
loanyes            -7.626e-01  2.556e-01  -2.983 0.002850 **
contacttelephone   -2.481e-01  2.975e-01  -0.834 0.404265
contactunknown     -1.403e+00  2.727e-01  -5.143 2.71e-07 ***
day                 1.081e-02  9.711e-03   1.113 0.265696
monthaug           -3.671e-01  3.032e-01  -1.211 0.225978
monthdec            1.462e-01  7.311e-01   0.200 0.841512
monthfeb            2.237e-01  3.500e-01   0.639 0.522743
monthjan           -9.038e-01  4.668e-01  -1.936 0.052862 .
monthjul           -6.272e-01  3.023e-01  -2.075 0.037987 *
monthjun            5.064e-01  3.648e-01   1.388 0.165137
monthmar            1.889e+00  4.366e-01   4.326 1.52e-05 ***
monthmay           -4.409e-01  2.815e-01  -1.566 0.117318
monthnov           -7.021e-01  3.300e-01  -2.127 0.033401 *
monthoct            9.663e-01  4.225e-01   2.287 0.022184 *
monthsep            6.469e-01  4.961e-01   1.304 0.192230
duration            4.396e-03  2.501e-04  17.572  < 2e-16 ***
campaign           -8.173e-02  3.547e-02  -2.304 0.021218 *
pdays              -1.225e-04  1.178e-03  -0.104 0.917159
previous            6.734e-02  4.517e-02   1.491 0.136062
poutcomeother       4.378e-01  3.257e-01   1.344 0.178847
poutcomesuccess     2.220e+00  3.289e-01   6.748 1.50e-11 ***
poutcomeunknown     1.409e-03  3.866e-01   0.004 0.997092
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

(Dispersion parameter for binomial family taken to be 1)

    Null deviance: 2263.0  on 3164  degrees of freedom
Residual deviance: 1512.2  on 3122  degrees of freedom
AIC: 1598.2

Number of Fisher Scoring iterations: 6

In [24]:
prob_train <- predict(object = log_reg,newdata = train_data, type = "response")

In [26]:
min(prob_train)

[1] 0.0001972362

In [27]:
#install.packages("ROCR")

package 'ROCR' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\Syed.Shariff\AppData\Local\Temp\RtmpWmHNsM\downloaded_packages

In [28]:
library(ROCR)

Warning message:
"package 'ROCR' was built under R version 3.6.2"Loading required package: gplots
Warning message:
"package 'gplots' was built under R version 3.6.2"
Attaching package: 'gplots'

The following object is masked from 'package:stats':

    lowess

In [29]:
pred <- prediction(prob_train,train_data$y)