In [1]:
library(caret)
library(dplyr)

Warning message:
"package 'caret' was built under R version 3.6.2"Loading required package: lattice
Loading required package: ggplot2
Registered S3 methods overwritten by 'ggplot2':
  method         from
  [.quosures     rlang
  c.quosures     rlang
  print.quosures rlang
Warning message:
"package 'dplyr' was built under R version 3.6.2"
Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [2]:
library(modes)
library(gtools)

In [3]:
house_data = read.csv("housing_data.csv")

In [4]:
head(house_data)

  CRIM    ZN INDUS CHAS NOX   RM    AGE  DIS    RAD TAX PT   B      LSTAT MV
1 0.00632 18 2.31  0    0.538 6.575 65.2 4.0900 1   296 15.3     NA 4.98  24.0
2 0.02731  0 7.07  0    0.469 6.421 78.9 4.9671 2   242 17.8 396.90 9.14  21.6
3 0.02729  0 7.07  0    0.469 7.185 61.1 4.9671 2   242 17.8 392.83 4.03  34.7
4 0.03237 NA 2.18  0    0.458 6.998 45.8 6.0622 3   222 18.7 394.63 2.94  33.4
5 0.06905  0 2.18  0    0.458 7.147 54.2 6.0622 3   222 18.7 396.90 5.33  36.2
6 0.02985  0 2.18  0    0.458 6.430 58.7 6.0622 3   222 18.7 394.12 5.21  28.7

In [5]:
str(house_data)

'data.frame':	500 obs. of  14 variables:
 $ CRIM : num  0.00632 0.02731 0.02729 0.03237 0.06905 ...
 $ ZN   : num  18 0 0 NA 0 0 12.5 12.5 12.5 12.5 ...
 $ INDUS: num  2.31 7.07 7.07 2.18 2.18 ...
 $ CHAS : int  0 0 0 0 0 0 0 0 0 0 ...
 $ NOX  : num  0.538 0.469 0.469 0.458 0.458 ...
 $ RM   : num  6.57 6.42 7.18 7 7.15 ...
 $ AGE  : num  65.2 78.9 61.1 45.8 54.2 ...
 $ DIS  : num  4.09 4.97 4.97 6.06 6.06 ...
 $ RAD  : int  1 2 2 3 3 3 5 5 5 5 ...
 $ TAX  : int  296 242 242 222 222 222 311 311 311 311 ...
 $ PT   : num  15.3 17.8 17.8 18.7 18.7 ...
 $ B    : num  NA 397 393 395 397 ...
 $ LSTAT: num  4.98 9.14 4.03 2.94 5.33 ...
 $ MV   : num  24 21.6 34.7 33.4 36.2 ...

In [6]:
house_data$CHAS <- as.factor(house_data$CHAS)
house_data$RAD <- as.factor(house_data$RAD)

In [7]:
str(house_data)

'data.frame':	500 obs. of  14 variables:
 $ CRIM : num  0.00632 0.02731 0.02729 0.03237 0.06905 ...
 $ ZN   : num  18 0 0 NA 0 0 12.5 12.5 12.5 12.5 ...
 $ INDUS: num  2.31 7.07 7.07 2.18 2.18 ...
 $ CHAS : Factor w/ 2 levels "0","1": 1 1 1 1 1 1 1 1 1 1 ...
 $ NOX  : num  0.538 0.469 0.469 0.458 0.458 ...
 $ RM   : num  6.57 6.42 7.18 7 7.15 ...
 $ AGE  : num  65.2 78.9 61.1 45.8 54.2 ...
 $ DIS  : num  4.09 4.97 4.97 6.06 6.06 ...
 $ RAD  : Factor w/ 9 levels "1","2","3","4",..: 1 2 2 3 3 3 5 5 5 5 ...
 $ TAX  : int  296 242 242 222 222 222 311 311 311 311 ...
 $ PT   : num  15.3 17.8 17.8 18.7 18.7 ...
 $ B    : num  NA 397 393 395 397 ...
 $ LSTAT: num  4.98 9.14 4.03 2.94 5.33 ...
 $ MV   : num  24 21.6 34.7 33.4 36.2 ...

In [8]:
summary(house_data)

      CRIM                ZN             INDUS         CHAS
 Min.   : 0.00632   Min.   :  0.00   Min.   : 0.46   0   :460
 1st Qu.: 0.08199   1st Qu.:  0.00   1st Qu.: 5.19   1   : 35
 Median : 0.26169   Median :  0.00   Median : 9.69   NA's:  5
 Mean   : 3.65532   Mean   : 11.25   Mean   :11.12
 3rd Qu.: 3.67822   3rd Qu.: 12.50   3rd Qu.:18.10
 Max.   :88.97620   Max.   :100.00   Max.   :27.74
 NA's   :7          NA's   :7        NA's   :4
      NOX               RM             AGE              DIS
 Min.   :0.3850   Min.   :3.561   Min.   :  2.90   Min.   : 1.130
 1st Qu.:0.4482   1st Qu.:5.885   1st Qu.: 44.40   1st Qu.: 2.097
 Median :0.5380   Median :6.209   Median : 77.70   Median : 3.191
 Mean   :0.5538   Mean   :6.289   Mean   : 68.58   Mean   : 3.785
 3rd Qu.:0.6240   3rd Qu.:6.629   3rd Qu.: 94.10   3rd Qu.: 5.118
 Max.   :0.8710   Max.   :8.780   Max.   :100.00   Max.   :12.127
 NA's   :6        NA's   :4       NA's   :3        NA's   :4
      RAD           TAX              PT              B              LSTAT
 24     :129   Min.   :187.0   Min.   :12.60   Min.   :  0.32   Min.   : 1.73
 5      :111   1st Qu.:279.0   1st Qu.:17.40   1st Qu.:375.30   1st Qu.: 6.95
 4      :109   Median :330.0   Median :19.10   Median :391.34   Median :11.43
 3      : 36   Mean   :407.5   Mean   :18.47   Mean   :356.60   Mean   :12.65
 6      : 26   3rd Qu.:666.0   3rd Qu.:20.20   3rd Qu.:396.21   3rd Qu.:16.95
 (Other): 84   Max.   :711.0   Max.   :22.00   Max.   :396.90   Max.   :37.97
 NA's   :  5   NA's   :6       NA's   :9       NA's   :4        NA's   :6
       MV
 Min.   : 5.00
 1st Qu.:17.07
 Median :21.20
 Mean   :22.56
 3rd Qu.:25.00
 Max.   :50.00

In [9]:
set.seed(29)

In [10]:
train_Index <- sample(x = 1:nrow(house_data),size=0.7*nrow(house_data))
train_data <- house_data[train_Index,]
test_data <- house_data[-train_Index,]

In [11]:
sum(is.na(train_data))

[1] 52

In [12]:
library(caret)

In [13]:
imputed_values <- preProcess(x = train_data,method = "medianImpute")

In [14]:
sum(is.na(train_data))

[1] 52

In [16]:
train_data <- predict(imputed_values,newdata = train_data)

In [17]:
sum(is.na(train_data))

[1] 7

In [18]:
sum(is.na(test_data))

[1] 18

In [19]:
test_data <- predict(object = imputed_values,newdata = test_data)
sum(is.na(test_data))

[1] 3

In [20]:
summary(test_data)

      CRIM                ZN            INDUS         CHAS          NOX
 Min.   : 0.00632   Min.   : 0.00   Min.   : 0.46   0   :142   Min.   :0.3850
 1st Qu.: 0.08675   1st Qu.: 0.00   1st Qu.: 4.98   1   :  7   1st Qu.:0.4492
 Median : 0.25651   Median : 0.00   Median : 9.69   NA's:  1   Median :0.5350
 Mean   : 3.92259   Mean   :12.62   Mean   :10.88              Mean   :0.5502
 3rd Qu.: 3.66200   3rd Qu.:19.50   3rd Qu.:18.10              3rd Qu.:0.6240
 Max.   :73.53410   Max.   :90.00   Max.   :27.74              Max.   :0.8710

       RM             AGE              DIS              RAD          TAX
 Min.   :4.138   Min.   :  8.90   Min.   : 1.130   24     :40   Min.   :187.0
 1st Qu.:5.871   1st Qu.: 46.15   1st Qu.: 2.050   4      :33   1st Qu.:287.5
 Median :6.316   Median : 74.45   Median : 3.299   5      :25   Median :330.0
 Mean   :6.280   Mean   : 68.87   Mean   : 3.899   8      :12   Mean   :416.1
 3rd Qu.:6.671   3rd Qu.: 93.53   3rd Qu.: 5.601   3      :10   3rd Qu.:666.0
 Max.   :8.297   Max.   :100.00   Max.   :12.127   (Other):28   Max.   :711.0
                                                   NA's   : 2
       PT              B              LSTAT              MV
 Min.   :12.60   Min.   :  0.32   Min.   : 2.870   Min.   : 5.60
 1st Qu.:17.40   1st Qu.:364.32   1st Qu.: 6.763   1st Qu.:16.10
 Median :18.65   Median :390.58   Median :12.085   Median :20.70
 Mean   :18.46   Mean   :342.35   Mean   :13.201   Mean   :22.08
 3rd Qu.:20.20   3rd Qu.:395.23   3rd Qu.:17.183   3rd Qu.:25.00
 Max.   :21.20   Max.   :396.90   Max.   :36.980   Max.   :50.00

In [21]:
summary(train_data)

      CRIM                ZN             INDUS         CHAS
 Min.   : 0.00906   Min.   :  0.00   Min.   : 0.74   0   :318
 1st Qu.: 0.08205   1st Qu.:  0.00   1st Qu.: 5.40   1   : 28
 Median : 0.25199   Median :  0.00   Median : 9.69   NA's:  4
 Mean   : 3.47272   Mean   : 10.43   Mean   :11.21
 3rd Qu.: 3.43597   3rd Qu.:  0.00   3rd Qu.:18.10
 Max.   :88.97620   Max.   :100.00   Max.   :27.74

      NOX               RM             AGE              DIS
 Min.   :0.3890   Min.   :3.561   Min.   :  2.90   Min.   : 1.137
 1st Qu.:0.4490   1st Qu.:5.907   1st Qu.: 44.55   1st Qu.: 2.108
 Median :0.5380   Median :6.185   Median : 79.70   Median : 3.107
 Mean   :0.5551   Mean   :6.291   Mean   : 68.54   Mean   : 3.728
 3rd Qu.:0.6240   3rd Qu.:6.584   3rd Qu.: 94.25   3rd Qu.: 5.100
 Max.   :0.8710   Max.   :8.780   Max.   :100.00   Max.   :10.586

      RAD          TAX              PT              B             LSTAT
 24     :89   Min.   :188.0   Min.   :12.60   Min.   :  2.6   Min.   : 1.730
 5      :86   1st Qu.:277.0   1st Qu.:17.40   1st Qu.:377.6   1st Qu.: 7.215
 4      :76   Median :330.0   Median :19.10   Median :392.2   Median :11.110
 3      :26   Mean   :402.5   Mean   :18.49   Mean   :363.1   Mean   :12.385
 2      :19   3rd Qu.:666.0   3rd Qu.:20.20   3rd Qu.:396.8   3rd Qu.:16.570
 (Other):51   Max.   :711.0   Max.   :22.00   Max.   :396.9   Max.   :37.970
 NA's   : 3
       MV
 Min.   : 5.00
 1st Qu.:17.50
 Median :21.40
 Mean   :22.77
 3rd Qu.:25.00
 Max.   :50.00

In [22]:
library(DMwR)

Warning message:
"package 'DMwR' was built under R version 3.6.2"Loading required package: grid
Registered S3 method overwritten by 'quantmod':
  method            from
  as.zoo.data.frame zoo